node_modules
.next
.env
.env.local
data/*.db
data/*.db-journal
backups
*.log
next-env.d.ts
tsconfig.tsbuildinfo

# Firebase
service-account*.json
*-firebase-adminsdk-*.json
functions/lib
functions/node_modules
.firebase
